{% extends "index.html" %}
{% block content %}
<p>
    <form action = "" method = "POST">
        Title: <input type = "text" name = "title"><br>
        Author name: <input type = "text" id = "authorName" name = "authorName"><br>
        Author last name: <input type = "text" id = "authorLastName" name = "authorLastName"><br>
        Second author name: <input type = "text" id = "authorName2" name = "authorName2"><br>
        Second author last name: <input type = "text" id = "authorLastName2" name = "authorLastName2"><br>
            <input type = "submit" value = "add">
    </form>
</p>
{% endblock %}