{% extends "index.html" %}
{% block content %}
<p>
    <form action = "/find_book" method = "POST">
        Find book by ID: <input type = "text" id = "id" name = "id"><br>
        <input type = "submit" value = "find">
    </form>
</p>
{% if authorName %}
<p>
    <form action = "/update" method = "POST">
        ID:<input type = "text" id = "id" name = "id" value = {{id}}><br>
        Title: <input type = "text" id = "title" name = "title" value = {{title}}><br>
        Author name: <input type = "text" id = "authorName" name = "authorName" value = {{authorName}}><br>
        Author last name: <input type = "text" id = "authorLastName" name = "authorLastName" value = {{authorLastName}}><br>
        Second author name: <input type = "text" id = "authorName2" name = "authorName2" value = {{authorName2}}><br>
        Second author last name: <input type = "text" id = "authorLastName2" name = "authorLastName2" value = {{authorLastName2}}><br>
        Availability: <input type = "checkbox" id = "available" name = "available" {% if available %} checked {% endif %}><br>
        <input type = "submit" value = "update">
    </form>
</p>
{% endif %}
{% endblock %}